body {
  background-color: #343332;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: rgb(52, 51, 50, 0.9);
    width: 100vw;
    padding-top: 20px;
    z-index: 11;
  }
  
  .logos {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
  }

  .logos img {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    float: right;
  }
  
  .nav-link {
    text-decoration: none;
    color: #343332;
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    color: #007BFF;
  }

  .bottomBorder {
    border-bottom: 1px solid white;
    border-bottom-width: 1px; /* Set the bottom border and its color */            /* Set the width of the div to 90% */
    margin-left: 5vw;  
    height: 1px;    
    width: 90vw;          /* Center the div horizontally */
    bottom: 0;
    left: 0;
    clear: both;
    flex-grow: 20;
    padding-top: 20px;
    margin-bottom: 5px;
  }
  